{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Dataservers</h1>
    <ul>
        {% for dataserver in dataservers %}
        <li>{{ dataserver.name }}  </li>
            <ul>

            {% for db in dataserver.databases %}
                <li>{{ db.name }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>