{% load rest_framework %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="POST">
        {% render_form serializer %}
        <input type="submit" value="Look Up">
    </form>
</body>
</html>